body{
    .float{
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:40px;
        background-color:#25d366;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        font-size:30px;
        box-shadow: 2px 2px 3px #999;
        z-index:100;

        .my-float{
            margin-top:16px;
        }


    }
    .float:hover {
        text-decoration: none;
        color: #25d366;
      background-color:#fff;
    }  
}
main{

    .cover{
        height: 400px;
        background-image: url(https://images.unsplash.com/photo-1522725843938-035891590561?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y29mZmVlJTIwYW5kJTIwZ2FyZGVufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
        color: white;
        background-size: cover;
        background-position: center;
        background-color: rgba(0,0,0,0.5);
        background-blend-mode: darken;

        h1{
            text-align: center;
        }
        .btn {
            font-size: 16px;
            color: white;
            border: 0;
            border-radius: 25px;
            background-color: #0a1a2a;
            box-shadow: #0a1a2a;
            cursor: pointer;
        }    
        .btn:hover {
            background-color: #0a1a2a;
        }

    }
    .blog{
        padding: 2rem;
        margin: 4rem;
        background-position: center;

        h1{
            text-align: center;
        }
        
    }
    .form-container{
        margin-bottom: 5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        form{
            padding: 50px 55px;
            box-shadow: 0 0 20px #0a1a2a;
            border-radius: 20px;
            text-align: center;
            margin: 1rem 2rem;
          
            label {
              color: #0a1a2a;
              display: block;
              margin-bottom: 5px;
              font-weight: bold;
            }
          
            input,
            textarea {
              background: #edfff0;
              border: 2px solid #f0faf1;
              color: #0a1a2a;
              width: 100%;
              padding: 5px;
              margin-bottom: 10px;
          
              &::placeholder {
                color: #b5cab6;
              }
            }
          
            textarea {
              height: 100px;
            }
          
            .btn-submit {
              background-color: #4CAF50;
              color: white;
              padding: 10px;
              border: none;
              cursor: pointer;
              width: 100px;
            }
          
            .success-message {
              color: green;
              font-weight: bold;
              margin-top: 10px;
            }
          
            #contact-form {
              margin-bottom: 7em;
            }
        }
    }
    .contact-extra{
        justify-content: center;
        align-content: center;
        display: flex;
        margin: 0 0 10rem;

        h4{
            margin-bottom: 50px;
            justify-content: center;
            color: #0d2033;
        }
    }
    
}